<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ShoeShop2ConnectionString"
            connectionString="Data Source=DESKTOP-K6TE4RL\VANDAO;Initial Catalog=ShoeShop2;Persist Security Info=True;User ID=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>