<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ShoeShopConnectionString"
            connectionString="Data Source=.;Initial Catalog=ShoeShop;Persist Security Info=True;User ID=sa;Password=123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ShoeShopConnectionString1"
            connectionString="Data Source=.;Initial Catalog=ShoeShop;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ShoeShopConnectionString2"
            connectionString="Data Source=HUNGGA\HUNGGA;Initial Catalog=ShoeShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>